* {
    font-family: "Montserrat", sans-serif;
}
.oscurecerFondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.5)
}
.seccionTitulo{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    margin-bottom: 2rem;
}
.paddingSecciones{
    padding: 1rem 1.5rem;
}
.wppFixed{
    background-color: #5db500;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
}
.wppFixed img{
    width: 2rem;
}
/* Header */

.logotipoLocoPorLaPizza {
    width: 5rem;
    border-radius: 50%;
}

.indexHeader {
    background-image: url(../img/headerBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 95vh;

    position: relative;
}
.indexHeaderInferior{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 95vh;

    padding: 0 2rem;
}
.indexHeaderInferior h1, .indexHeaderInferior p{
    color: #fff;
}
.indexHeaderInferior h1{
    font-weight: bolder;
    text-transform: uppercase;
}
.indexHeaderInferior button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
/* Presentacion */
.presentacionContenedor{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
}
/* Main */
.productoContenedor{
    width: 15rem;

    background-color: rgb(255, 255, 244);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b6b6b6;
}
.productoContenedor img{
    width: 100%;
}
.productoBotonesComprar{
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
}
.productoBotonesComprar button{
    background-color: #000000c6;
    color: #fff;
    border:none;
}
.productosContenedorFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.productoPrecio{
    color: #008000;
    font-weight: 600;
    font-size: 1.2rem;
}
/* Footer */
.indexFooter{
    background-color: #000;
}
.indexFooter h2{
    color: #fff;
}
.instagramLogo{
    width: 2rem;
}
.contactoEnlace{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #fff;
}
.contactoEnlace p{
    margin-bottom: 0;
}


/* Carrito Estilos*/
.carritoImg{
    width: 5rem;
}
.cardProductoCarrito{
   background-color: rgb(255, 255, 244);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b6b6b6;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.cardProductoCarrito section p{
    margin: 0;
}
.cardProductoCarrito h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
}
.incDecSeccion{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cardProductoCarrito button{
    border: none;
    background-color: #000;
    color: #fff;
    width: 2rem;
    height: 2rem;
}
.seccionNombre p{
    margin-bottom: 0;
}

.carritoContenedorFlex{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.carritoTotal{
    margin-top: 2rem;
    text-align: end;
    font-size: 1.2rem;
}
.carritoTotal span{
    font-weight: 700;
    text-transform: uppercase;
}
.eliminarProducto{
    background-color: red !important;
    border-radius: 50%;
}

.carritoMain{
    height: 100vh;
        display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 600px){
    .indexHeaderInferior{
        max-width: 30rem;
    }
    .quienesSomosDescripcion{
        max-width: 25rem;
    }

    .cardProductoCarrito{
        flex-direction: row;
        gap: 2rem;
    }
}

@media (min-width: 900px){
    .nosotrosTituloDesktop{
        text-align: center ;
    }
.presentacionContenedor{
    justify-content: center;
}
    .indexHeaderInferior {
        max-width: 40rem;
    }
    .cardProductoCarrito{
        width: 90%;
        justify-content: center;
    }
}